<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/bower_components/bootstrap/assets/ico/favicon.png">

    <title>{% block title %}Evolux Admin{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/admin/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/bower_components/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/static/bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Challenge Evolux</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if current_menu == 'index' %}class="active"{% endif %}><a href="{{ url_for('admin.index') }}">Inicio</a></li>
            <li {% if current_menu == 'students' %}class="active"{% endif %}><a href="{{ url_for('admin.students.list_') }}">Alunos</a></li>
            <li {% if current_menu == 'challenges' %}class="active"{% endif %}><a href="{{ url_for('admin.challenges.list_') }}">Questões</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Desenvolvedor <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.facebook.com/joepreludian" target="_blank">Facebook</a></li>
                <li><a href="mailto:joepreludian@gmail.com">E-mail</a></li>
                <li><a href="http://www.linkedin.com/pub/jonhnatha-j-r-trigueiro/30/7ab/796" target="_blank">Linkedin</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Ir ao Site</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        {# Messaging System #}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
             {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}
    </div>

    <script src="/static/bower_components/bootstrap/assets/js/jquery.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
