{% set current_menu = 'challenges' %}
{% extends "/admin/base.html" %}
{% block javascript %}
<script type="text/javascript">
    $(function(){
       $('a[class~=js_confirm_before]').on('click', function(){
          if (!confirm('Você tem certeza?'))
            event.preventDefault();
       });
    });
</script>
{% endblock %}
{% block body %}
    <h2>Questões</h2>
    <hr />
    <a href="{{ url_for('admin.challenges.new') }}" class="btn btn-success">Novo</a>
    <hr />
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>#</th><th>Nome</th><th>Resposta</th><th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for challenge in challenges_list %}
            <tr>
                <td>{{ challenge.id }}</td><td><a href="{{ url_for('admin.challenges.edit', challenge_id=challenge.id) }}">{{ challenge.name }}</a></td><td>{{ challenge.result }}</td><td><a href="{{ url_for('admin.challenges.del_', challenge_id=challenge.id) }}" class="js_confirm_before">Excluir</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}