{% set current_menu = 'challenges' %}
{% extends "/admin/base.html" %}
{% block javascript %}
<script type="text/javascript">
</script>
{% endblock %}
{% block body %}
    <h2>
    {% if not form.id.data %}
        Nova Questão
    {% else %}
        Editar Questão
    {% endif %}
    </h2>
    <hr />
    <form role="form" method="post" action="{{ url_for('admin.challenges.save') }}">

        {{ form.id }}

        <div class="form-group row">
          <div class="col-lg-7">
              {{ form.name.label }}
              {{ form.name(class_='form-control', placeholder='Nome da questão proposta') }}
          </div>
          <div class="col-lg-5">
              {{ form.result.label }}
              {{ form.result(class_='form-control', placeholder='A resposta certa da questão') }}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-12">
              {{ form.description.label }}
              {{ form.description(class_='form-control', placeholder='Descrição do problema proposto') }}
          </div>

        <hr />
        <fieldset>
            <button type="submit" class="btn btn-default">Salvar</button>
        </fieldset>
    </form>

{% endblock %}