{% extends "/admin/base.html" %}
{% block javascript %}
<script type="text/javascript">
    //alert('OK!');
</script>
{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h2>Painel Administrativo</h2>
        <p>Desenvolvido por <strong>Jonhnatha Trigueiro</strong> <small>( joepreludian@gmail.com )</small></p>
    </div>
{% endblock %}