{% set current_menu = 'students' %}
{% extends "/admin/base.html" %}
{% block javascript %}
<script type="text/javascript">
    $(function(){
       $('a[class~=js_confirm_before]').on('click', function(){
          if (!confirm('Você tem certeza?'))
            event.preventDefault();
       });
    });
</script>
{% endblock %}
{% block body %}
    <h2>Alunos</h2>
    <hr />
    <a href="{{ url_for('admin.students.new') }}" class="btn btn-success">Novo</a>
    <hr />
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>#</th><th>Nome</th><th>E-mail</th><th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students_list %}
            <tr>
                <td>{{ student.id }}</td><td><a href="{{ url_for('admin.students.edit', student_id=student.id) }}">{{ student.name }}</a></td><td>{{ student.email }}</td><td><a href="{{ url_for('admin.students.del_', student_id=student.id) }}" class="js_confirm_before">Excluir</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}