{% set current_menu = 'students' %}
{% extends "/admin/base.html" %}
{% block javascript %}
{% endblock %}
{% block body %}
    <h2>
    {% if not form.id.data %}
        Novo Aluno
    {% else %}
        Editar Aluno
    {% endif %}
    </h2>
    <hr />
    <form role="form" method="post" action="{{ url_for('admin.students.save') }}">

        {{ form.id }}

        <div class="form-group row">
          <div class="col-lg-7">
              {{ form.name.label }}
              {{ form.name(class_='form-control', placeholder='John Doe') }}
          </div>
          <div class="col-lg-5">
              {{ form.email.label }}
              {{ form.email(class_='form-control', placeholder='johndoe@emial.com') }}
          </div>
        </div>
        <hr />
        <fieldset>
            <button type="submit" class="btn btn-default">Salvar</button>
        </fieldset>
    </form>

{% endblock %}