{% extends "site/base.html" %}
{% block title %}Evo Challenge{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(function(){
    $('#sucess_message').fadeIn(2500);
});
</script>
{% endblock %}
{% block body %}
<div id="sucess_message" class="jumbotron" style="display: none">
    <h1>Obrigado</h1>
    <p class="lead">Todos os seus desafios foram realizados. Espero que tenha gostado! Que tal checar os fontes desse projeto agora?</p>
    <p><a id="pick_challenge" href="https://bitbucket.org/joey_ribeiro/challengeevolux" target="_blank" class="btn btn-success">Challengeevolux no Bitbucket</a></p>
</div>
{% endblock %}