{% extends "site/base.html" %}
{% block title %}Evo Challenge{% endblock %}
{% block title_h3 %}Desafio para {{ student.name }}{% endblock %}

{% block css %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/bower_components/skulpt/skulpt.min.js"></script>
<script type="text/javascript" src="/static/bower_components/skulpt/skulpt-stdlib.js"></script>
<script type="text/javascript" src="/static/bower_components/ace/build/src-min-noconflict/ace.js"></script>
<script type="text/javascript">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.getSession().setMode("ace/mode/python");
</script>
<script type="text/javascript">
function outf(text) {
    var mypre = document.getElementById("output");
    mypre.innerHTML = mypre.innerHTML + text;
    $('#modalSend').removeClass('disabled');
    $('#scriptOutput').modal();
}
function builtinRead(x) {
    if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
            throw "File not found: '" + x + "'";
    return Sk.builtinFiles["files"][x];
}

function runit() {
   var prog = editor.getSession().getValue();
   var mypre = document.getElementById("output");
   mypre.innerHTML = '';
   Sk.pre = "output";
   Sk.configure({output:outf, read:builtinRead});

   try {
      eval(Sk.importMainWithBody("<stdin>",false,prog));
   } catch ( e ) {

    var error_line = e.args.v[2] == undefined ? '' : 'Linha ' + e.args.v[2];
    var error_description = e.args.v[0].v;

    mypre.innerHTML = 'Erro de execução: ' + error_line + ' -> ' + error_description ;
    $('#scriptOutput').modal();
    $('#modalSend').addClass('disabled');
   }
}
</script>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <h3>{{ challenge.name }}</h3>
        <p>{{ challenge.description }}</p>
    </div>
</div>

<div class="row" style="padding-bottom: 20px">
    <div class="{% if challenges %}col-lg-9{% else %}col-lg-12{% endif %}">
        <form>
            <pre id="editor" style="height: 300px"></pre>
            <button type="button" class="btn btn-primary" onclick="runit()">Executar script</button>
        </form>
    </div>

    {% if challenges %}
    <div class="col-lg-3">
        <div class="well sidebar-nav">
            <ul class="nav">
                <li>Desafios restantes</li>
                {% for other_challenge in challenges %}
                    <li><a href="{{ url_for('site.challenge', challenge_id=other_challenge.id, student_id=student.id) }}">{{ other_challenge.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

</div>
<!-- Modal -->
<div class="modal fade" id="scriptOutput" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{{ url_for('site.challenge_send') }}">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Execução do Script</h4>
          </div>
          <div class="modal-body">
              <input type="hidden" name="challenge_id" value="{{ challenge.id }}" />
              <input type="hidden" name="student_id" value="{{ student.id }}" />
              <textarea id="output" name="answer" class="form-control" readonly style="resize: none; height: 60px"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
            <button id="modalSend" type="submit" class="btn btn-success">Usar saída do programa como resposta</button>
          </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}