{% set current_menu = 'home' %}

{% extends "site/base.html" %}
{% block title %}Evo Challenge{% endblock %}
{% block javascript %}
<script type="text/javascript">
$('#user_select').on('change', function(){
  if ($(this).val())
      $('#pick_challenge').removeClass('disabled');
  else
      $('#pick_challenge').addClass('disabled');
});
$('#pick_challenge').on('click', function(){
   window.location = "/pick_challenge/" + $('#user_select').val();
});
</script>
{% endblock %}
{% block body %}
    <div class="jumbotron">
    <h1>Evochallenge</h1>
    <p class="lead">Selecione seu nome e boa sorte! :)</p>
    <p><select id="user_select" class="form-control" style="width: 300px; margin: 0 auto">
            <option value="">-- Selecione um Herói --</option>
        {% for student in students %}
            <option value="{{ student.id }}">{{ student.name }}</option>
        {% endfor %}
    </select><br /></p>
    <p><a id="pick_challenge" href="javascript:void(0)" class="btn btn-success disabled">Challenge Accepted</a></p>
    </div>

    <div class="row marketing">
    <div class="col-lg-6">
      <h4>Como funciona?</h4>
      <p>Você será levado a uma série de desafios de programação. Selecione seu nome na lista e comece agora!</p>
    </div>

    <div class="col-lg-6">
      <h4>Qual linguagem?</h4>
      <p>Usaremos a linguagem Python para solução dos algorítmos.</p>
    </div>
    </div>
{% endblock %}